{% extends 'base.html' %}
{% block conteudo %}
<h1> Teste de fichas </h1>
<div>
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#Modal_ficha">Criar Fichas</button>
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#Modal_mesa">Criar Mesa</button>
</div>
<hr>

  <div class="modal fade" id="Modal_mesa" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Criar Mesa</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="Modal_ficha" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Criar Fichas</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <!-- Criar os inputs e os dados dos elementos que serão passasdos para a ficha altomatica 
          Vou precisar usar o JavaScript para puxar os dados de uma lista do banco de dados e fazer a atualização altomatica dos dados que serão inceridos no Formulário
          Para pesquisar tenho que ver o site https://blog.soaresdev.com/4-maneiras-de-fazer-uma-chamada-de-api-em-javascript/  -> Função Fetch
          -->
          <label for="">Nome do Jogador: </label>
          <input type="text" name="" id="">
          <label for="">Nome do Personagem: </label>
          <input type="text" name="" id="">
          <select id="Raca" class="form-select" aria-label="Default select example" onchange="validarRaca(this.value)">
            <option name="Racas" value="{{registro}}">Escolha uma Opção</option>
            {% for registro in dados.Raças.keys() %}
                <option name="Racas" value="{{registro}}">{{registro}}</option>
            {% endfor %}
          </select>
          <select id="classe_escolhida" class="form-select" aria-label="Default select example" >
            {% for registro in dados.Classes.keys() %}
                <option name="Classe" value="{{registro}}">{{registro}}</option>
            {% endfor %}
          </select>
          <label for="">Nível: </label>
          <input type="number" name="" id="" onchange="validandoNivel(this.value)" min="1" max="20">
          <div>
            <label for="">Força: </label>
            <input type="number" id="atributoForca" name="" value="0" readonly>
            <input type="number" name="" onchange="Inceriratributoforca(this.value)" min="-8" max="30">
          </div>
          <div>
            <label for="">Aglidade: </label>
            <input type="number" id="atributoDestreza" name="" value="0" readonly>
            <input type="number" name="" onchange="InceriratributoDestreza(this.value)" min="-8" max="30">
          </div>
          <div>
            <label for="">Constituição: </label>
            <input type="number" id="atributoConstituicao" name="" value="0" readonly>
            <input type="number" name="" onchange="InceriratributoConstituicao(this.value)" min="-8" max="30">
          </div>
          <div>
            <label for="">Intelegência: </label>
            <input type="number" id="atributoInteligencia" name="" value="0" readonly>
            <input type="number" name="" onchange="InceriratributoInteligencia(this.value)" min="-8" max="30">
          </div>
          <div>
            <label for="">Sabedoria: </label>
            <input type="number" id="atributoSabedoria" name="" value="0" readonly>
            <input type="number" name="" onchange="InceriratributoSabedoria(this.value)" min="-8" max="30">
          </div>
          <div>
            <label for="">Carisma: </label>
            <input type="number" id="atributoCarisma" name="" value="0" readonly>
            <input type="number" name="" onchange="InceriratributoCarisma(this.value)" min="-8" max="30">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>



{% for mesa in mesas_Mestre %}
    <div class="card" style="width: 18rem;">
        <img src="{{mesa.Imagem}}" class="card-img-top" alt="Representa a Imagem da Mesa">
        <div class="card-body">
            <h5 class="card-title">{{mesa.Nome_da_Mesa}}</h5>
            <p class="card-text">{{mesa.Descricao}}</p>
            <a href="/criar_mesa/{{mesa.Id_mesa}}" class="btn btn-primary">Iniciar Jogo</a>
        </div>
    </div>
{% endfor %}

{% for mesa in mesas_Jogador %}
    <div class="card" style="width: 18rem;">
        <img src="{{mesa.Imagem}}" class="card-img-top" alt="Representa a Imagem da Mesa">
        <div class="card-body">
            <h5 class="card-title">{{mesa.Nome_da_Mesa}}</h5>
            <p class="card-text">{{mesa.Descricao}}</p>
            <a href="/criar_mesa/{{mesa.Id_mesa}}" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
    <a href="">{{mesas_Jogador}}</a>
{% endfor %}


<script>

  var lista = ""
  var Raca_Escolhida = ""
  var At_Forca = 0
  var At_Destreza = 0
  var At_Constituicao = 0
  var At_Inteligencia = 0
  var At_Sabedoria = 0
  var At_Carisma = 0

  fetch('http://127.0.0.1:5000/dados-fichas')
    .then(response => {
      if (response.ok) {
        return response.json();
      } else {
        throw new Error('API request failed');
      }
    })
    .then(data => {
      // faça o que quiser com o response aqui
      lista = data[0]
      //console.log("Teste", data[0]["Antecedente"])
      //console.log('DADOS DA API', data);
    })
    .catch(error => {
      // crie o handler de error aqui
      console.log('ERRO NA CHAMADA', error);
  });
  function Inceriratributoforca(valor){
    var res
    res = (valor-10)/2
    if(valor == [1,3,5,9]){
      res = Math.ceil(res-1)
    }else{
      res = Math.floor(res)
    }
    document.getElementById("atributoForca").value = res + At_Forca // Continuar a validar as entradas de dados
  }
  function InceriratributoCarisma(valor){
    var res
    res = (valor-10)/2
    if(valor == [1,3,5,9]){
      res = Math.ceil(res-1)
    }else{
      res = Math.floor(res)
    }
    document.getElementById("atributoCarisma").value = res + At_Carisma // Continuar a validar as entradas de dados
  }
  function InceriratributoSabedoria(valor){
    var res
    res = (valor-10)/2
    if(valor == [1,3,5,9]){
      res = Math.ceil(res-1)
    }else{
      res = Math.floor(res)
    }
    document.getElementById("atributoSabedoria").value = res + At_Sabedoria // Continuar a validar as entradas de dados
  }
  function InceriratributoInteligencia(valor){
    var res
    res = (valor-10)/2
    if(valor == [1,3,5,9]){
      res = Math.ceil(res-1)
    }else{
      res = Math.floor(res)
    }
    document.getElementById("atributoInteligencia").value = res + At_Inteligencia // Continuar a validar as entradas de dados
  }
  function InceriratributoConstituicao(valor){
    var res
    res = (valor-10)/2
    if(valor == [1,3,5,9]){
      res = Math.ceil(res-1)
    }else{
      res = Math.floor(res)
    }
    document.getElementById("atributoConstituicao").value = res + At_Constituicao // Continuar a validar as entradas de dados
  }
  function InceriratributoDestreza(valor){
    var res
    res = (valor-10)/2
    if(valor == [1,3,5,9]){
      res = Math.ceil(res-1)
    }else{
      res = Math.floor(res)
    }
    document.getElementById("atributoDestreza").value = res + At_Destreza // Continuar a validar as entradas de dados
  }
  
  function validarRaca(Raca){
    for(var i in lista["Raças"][Raca]){
      if (i == "Aumento da pontuação de habilidade"){
        for (var atributo in lista["Raças"][Raca][i]){
          if (atributo == "Constituição"){
            At_Constituicao = Number(lista["Raças"][Raca][i][atributo])
          }if (atributo == "Forca"){
            At_Forca = Number(lista["Raças"][Raca][i][atributo])
            document.getElementById("atributoForca").value = At_Forca
          }if (atributo == "Carisma"){
            At_Carisma = Number(lista["Raças"][Raca][i][atributo])
          }if (atributo == "Destreza"){
            At_Destreza = Number(lista["Raças"][Raca][i][atributo])
          }if (atributo == "Intelegência"){
            At_Inteligencia = Number(lista["Raças"][Raca][i][atributo])
          }if (atributo == "Sabedoria"){
            At_Sabedoria = Number(lista["Raças"][Raca][i][atributo])
          }
        }
      }
      if(""){
        ""
      }
      if(""){
        ""
      }
      if(""){
        ""
      }
      if(""){
        ""
      }
      if(""){
        ""
      }
      if(""){
        ""
      }
      if(""){
        ""
      }
      if(""){
        ""
      }
      if(""){
        ""
      }
      if(""){
        ""
      }
      if(""){
        ""
      }
      if(""){
        ""
      }
      if(""){
        ""
      }
    }

  }
  function validandoNivel(nivel){
    if (nivel > 20 || nivel<1 ){
      alert("Nivel do Jogador incorreto!")
    }else{
      for (var i in lista["Classes"]){
        var teste = []
        if (document.getElementById("classe_escolhida").value == i){
          var nivels = Number(nivel)
          console.log(nivels)
          for(var aux = 1; aux < (nivels+1); aux++){
            teste.push(lista["Classes"][i][aux])
          }
          for (var i in teste){
            for (var elem in teste[i]){
              if(elem == "Bonus de Proficiência"){
                ""
              }
              if("Habilidades"){
                ""
              }
              if("Infusões conhecidas"){
                ""
              }
              if("Itens Infundidos"){
                ""
              }
              if("Truques Conhecidos"){
                ""
              }
              if("Magia N1"){
                ""
              }
              if("Magia N2"){
                ""
              }
              if("Magia N3"){
                ""
              }
              if("Magia N4"){
                ""
              }
              if("Magia N5"){
                ""
              }
              if("Magia N6"){
                ""
              }
              if("Magia N7"){
                ""
              }
              if("Magia N8"){
                ""
              }
              if("Magia N9"){
                ""
              }
              if("Fúria"){
                ""
              }
              if("Dano de Fúria"){
                ""
              }
              if("Feitiços Conhecidos"){
                ""
              }
              if("Slots de feitiço"){
                ""
              }
              if("Nível do slot"){
                ""
              }
              if("Invocações conhecidas"){
                ""
              }
              if("Ataque surpresa"){
                ""
              }
              if("Artes marciais"){
                ""
              }
              if("Pontos de Ki"){
                ""
              }
              if("Movimento sem armadura"){
                ""
              }
            }
          }
        }
      }
      alert(document.getElementById("classe").value)
    }
  }
  
  
</script>

{% endblock conteudo %}